on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: stage

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        working-directory: ./hospital-staff
        run: yarn install --frozen-lockfile

      - name: Build project
        working-directory: ./hospital-staff
        run: yarn build

      - name: Install Serverless CLI
        run: npm install -g serverless@4.28.0

      - name: Deploy to AWS
        working-directory: ./hospital-staff
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: eu-central-1
          AWS_ENVIRONMENT: stage
          ENVIRONMENT: stage
        run: serverless deploy --stage stage
